body {
    font-family: 'Times New Roman', Times, serif;
    background-color: ghostwhite;
}

img{ 
    display: block; 
    height: 400px; 
    width: 322px; 
    object-fit: cover; 
    object-position: center; 
    margin-left: auto;
    margin-right: auto;
}

/* #site-logo {
    
} */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.film-card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    transition-duration: 0.3s;
}

.film-card:hover {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: rgb(217, 217, 223);
}

button {
    background-color: rgb(114, 113, 113); 
    border: none;
    border-width: 10px;
    color: ghostwhite;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.5s;
}

button:hover {
    background-color: ghostwhite; 
    box-shadow:  0 0 0 1px rgb(114, 113, 113);
    color: rgb(114, 113, 113);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.watched-btn {
    margin-right: 5px;
}

.favorite-btn {
    margin-left: 5px;
}

.film-info-el {
    color: rgb(71, 69, 69);
}

.topnav {
    background-color: rgb(34, 33, 33);
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .topnav a {
    float: left;
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    transition-duration: 0.4s;
}

.film-modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
}
  
.film-modal-content {
    background-color: ghostwhite;
    margin: 15% auto;
    padding: 20px;
    width: 80%; 
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 26px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.note-form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 2px solid rgb(114, 113, 113);
    border-radius: 2px;
    z-index: 9;
}

.note-form-container {
    max-width: 300px;
    padding: 10px;
    background-color: ghostwhite;
  }