img{ 
    display: block; 
    height: 400px; 
    width: 322px; 
    object-fit: cover; 
    object-position: center; 
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.filmCard {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.film-info-el{
    text-align: center;
}


.watched-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite-btn {

}